.faq-link{
    display: none !important;
}
.catalogtitle{
    color: #1a2674; /* Change this to your preferred color */
    font-weight: bold;
}

.catalogsubtitle{
    color: #3d3d3d; /* Change this to your preferred color */
    font-weight: bold;
}

.hpheading {
    color: #1a2674; /* Change this to your preferred color */
    font-weight: bold;
}

.hpsubheading {
    color: #3d3d3d; /* Change this to your preferred color */
    font-weight: bold;
}

.checkout_img{
 margin: auto;
 width: 100px;
 height: 100px;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 115px;
}

.checkoutv1_6{
  width: 100%;
  height: 832px;
  background: rgba(238,238,238,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.checkoutv1_7{
  width: 886px;
  height: 502px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 204px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.checkoutv1_8{
  width: 610px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 345px;
  left: 335px;
  font-family: arial;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.checkoutv1_9{
  width: 515px;
  color: rgba(184,184,184,1);
  position: absolute;
  top: 420px;
  left: 382px;
  font-family: arial;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.checkoutv1_10 {
  width: 114px;
}
a:focus{
outline: none;
}
.b2b-filters{
    display: none !important;
}

.ribbon.ribbon-top-left span {
    background-color: #1a2674!important;
}

.btn-primary {
    background: #1a2674;
    border-color: #1a2674;
    color: #fff;
    transition-duration: 150ms;
}
.btn-primary:hover, .btn-primary:focus {
    background: #265e7a;
    border-color: #265e7a;
    color: #fff !important;
}
.btn-secondary {
    color: #444444;
    border-color: #cccccc;
}
.btn-secondary:hover, .btn-secondary:focus{
	background: #efefef;
    border-color: #cccccc;
    color: #444444 !important;
}
.btn-quick-view{
color: #000;
}
.btn-quick-view:hover, .btn-quick-view:focus{
border-color: #000;
}
.btn{
border-radius: 0px;
}

@media (min-width: 992px){
.cart-btn {
background-color: #fff;
border : 1px solid #000;
color: #000;
}
.cart-btn:hover {
border : 1px solid #000;
background-color: #5D8BA9;
color:  #fff;
}
}
.header-btn:hover, .header-btn:focus{
color: #5D8BA9;
}
.site-search z-widget{
background-color: #000;
}
header .header .cartcount-mobile{
background-color: #d3d3d1;
color:#000;
}

.b2b-products .product-item{
box-shadow: none;
border: 1px solid #e0e0e0;
}
.b2b-products .product-item:hover{
box-shadow: none;
border: 1px solid #e0e0e0;
}
.add-to-cart-block input{
display: none;
}
.add-to-cart-block button{
margin-left: 0px;
}

.styled-input input[type=checkbox]:checked ~ label:after, .styled-input input[type=radio]:checked ~ label:after{
background-color:#000;
}
.styled-input input[type=checkbox]:checked ~ label:before, .styled-input input[type=radio]:checked ~ label:before{
border-color: #000;
}

.back-to-top{
background-color: #000;
}


.footer{
background: #c9c9c9;
}

div#truste-consent-text {
    display: block;
    width: 100%;
    text-align: center;
}
button#truste-consent-button {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
#teconsent .truste_cursor_pointer{
text-decoration: none; 
color: #454545;
}

@media (max-width: 768px){
width: 100%;
}

header {
    background-color: #ffffff;
}
.headerLinksSet a {
    color: #000000;
}
.headerLinksSet {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.faq-link {
    padding-right: 30px;
}
.pageTitle {
    color: #000000;
    margin: 15px 0;
}
.pageSubTitle {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 20px;
}
.pageInfoContent {
    font-size: 16px;
}
.siteHeaderBanner, .siteHeaderBanner img {
    width: 100%;
}
p.orderPlacedText {
    font-size: 16px;
}
.layout-min-height {
    min-height: 100vh !important;
}
.headerLinksSet a {
    color: #000000 !important;
    font-size: 14px;
}
.reqSet{
color:#f00;
}
div#divSinglePageCheckout .modal-header {
    background: #000000;
}
div#divSinglePageCheckout .recommended-address-popup h5 {
    font-size: 14px;
    color: #454545;
    letter-spacing: 0.5px;
}
.address-details div{
 color: #454545;
    letter-spacing: 0.5px;
}
@media (min-width: 992px){
header .headerLogoSet  .site-logo {
    padding-left: 0px;
}
}


/***************************************************************************/

header {
    background-color: rgba(245,245,245,0.8);
}
body, html {
    font-family: 'montserratsemi_bold', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	color: #667478;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #003648;
    font-family: Roboto-Medium,Arial,sans-serif;
}
.headerLinksSet a {
    color: #083a53 !important;
    font-size: 0.900em;
    font-family: inherit;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    font-weight: 600;
}
.track-order i {
    color: #083a53 !important;
}
.headerLinksSet a:hover, .headerLinksSet a:hover i {
    color: #B52029 !important;
}
.footer {
}
.footer p, .footer div, .footer a {
    font-family: Montserrat, sans-serif !important;
    color: #667478 !important;
    font-size: 1em;
    line-height: 1em;
    text-align: left;
    text-decoration: none;
}

.footer-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
	/* padding-bottom: 50px !important; */
}
.footer-logo {
    width: 150px;
}
.footer-links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-row-gap: 8px;
}
.footer-link {
    font-family: Montserrat, sans-serif;
    color: #667478;
    font-size: 0.825em;
    line-height: 1em;
    text-align: left;
    text-decoration: none;
}
.footer-tagline {
    display: none;
    font-family: Montserrat, sans-serif;
    color: #bdc4c7;
    font-size: 0.7em;
    line-height: 2em;
    font-weight: 600;
    text-align: left;
}
.links-divider {
    width: 1px;
    height: 100%;
    margin-right: 8px;
    margin-left: 8px;
    background-color: #667478;
}
.footer-link:hover {
    color: #ffffff !important;
}
.b2b-products .product-item .view-item .title:hover {
	color: #1a2674 !important;
    padding-bottom: 0;
    text-decoration: underline;
}
.b2b-products .product-item .view-item .title {
    font-family: "sina_novamedium", Georgia, "Times New Roman", Times, serif;
    text-transform: capitalize;
    max-height: 48px;
    overflow: hidden;
    color: #1a2674 !important;
    font-weight: bold;
    font-style: normal;
    font-size: 1.1em;
    line-height: 1.3;
}
div#top-slider .carousel-caption h1, div#top-slider .carousel-caption h5 {
    color: #ffffff;
}
div#top-slider .carousel-caption h1 {
    font-family: sina_novamedium, Georgia, Times New Roman, Times, serif;
    font-weight: bold;
    font-style: normal;
    font-size: 3.5em;
    line-height: 1;
    margin-bottom: 0.5em;
	text-shadow: 0px 0px 5px #3c3c3c;
}
div#top-slider .carousel-caption h5 {
    font-family: sina_novamedium, Georgia, Times New Roman, Times, serif;
    font-weight: bold;
    font-style: italic;
    font-size: 1.5em;
    line-height: 1.5;
    width: 50%;
    margin: 0 auto;
    text-shadow: 0px 0px 5px #3c3c3c;
}
.home-slider .owl-carousel .carousel-caption {
    position: absolute;
    background-color: transparent;
    padding: 0;
    top: 50%;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
}
.slider-container .owl-theme .owl-controls .owl-page span, .owl-theme .owl-controls .owl-page.active span {
    background: #ffffff !important;
	margin: 2px 2px !important;
}
.slider-container .owl-theme .owl-controls .owl-page {
    margin: 0 3px !important;
}
.slider-container .owl-theme .owl-controls .owl-page {
    margin: 0 3px !important;
}
.slider-container .owl-theme .owl-controls .owl-page.active {
    border: 1px solid #ffffff;
    border-radius: 50%;
}
.owl-theme .owl-controls .owl-page:hover span {
	background: #ffffff !important;
    border: 1px solid #ffffff;
    border-radius: 50%;
}
@media only screen and (min-width:1550px) and (max-width:2200px){
	div#top-slider .carousel-caption h5 {
		width: 45%;
	}
	.slider-container .owl-theme .owl-controls .owl-page span, .owl-theme .owl-controls .owl-page.active span {
		background: #ffffff !important;
		margin: 3px 3px !important;
	}
}
@media only screen and (min-width:992px) and (max-width:4000px){
        div#top-slider .carousel-caption h5 {	
		width:90%;	
	}	
	.home-slider .slider .item img {	
		width: 100%;	
		height: auto;	
	}
	body#Home, body#User, body.SuccessfullOrder {
		padding-top: 0px !important;
	}
	.home-slider .slider .item img {
		width: 100%;
		height: auto;
	}
	div#top-slider .carousel-caption h1:before {
		right: 0.5em;
		width: 70px !important;
	}
	div#top-slider .carousel-caption h1:after{
		left: 0.5em;
		width: 70px !important;
	}
}
@media only screen and (max-width:991px){
	div#top-slider .carousel-caption h5 {
		width:90%;
	}
	.home-slider .slider .item img {
		width: 100%;
		height: auto;
	}
	div#top-slider .carousel-caption h1 {
		font-size: 18px;
	}
	div#top-slider .carousel-caption h5 {
		font-size: 14px;
	}
}

/*FAQ CSS*/
#charlesbankFaq .panel.panel-default {
	border: none;
	border-top: 1px solid #000;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#charlesbankFaq .panel.panel-default .panel-heading {
	background: transparent;
	border-color: transparent;
	position: relative;
	vertical-align: top;
	text-decoration: none;
	color: #222222;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	white-space: nowrap;
}
#charlesbankFaq .panel-body {
	border: none;
}
#charlesbankFaq h4.panel-title, #charlesbankFaq h4.panel-title a {
    font-family: Montserrat, sans-serif;
    color: #083a53;
    font-size: 1em;
    line-height: 1.1em;
    font-weight: 600;
    text-align: left;
    display: block;
}
#charlesbankFaq .panel-collapse {
    padding-bottom: 10px;
    background-color: #fff;
}
#charlesbankFaq .panel-body {
    border: none;
    margin-bottom: 8px;
    font-family: Montserrat, sans-serif;
    color: #667478;
    font-size: 1em;
    line-height: 1.4em;
    font-weight: 300;
    text-align: left;
	padding: 0 20px;
}
#charlesbankFaq .panel-body a {
    color: #667478;
    text-decoration: underline;
}
h2.faq-heading {
    display: block;
    text-align: center;
}
h2.faq-heading span {
    display: inline-block;
    margin-bottom: 1em;
    margin-top: 1em;
    padding-bottom: 0.25em;
    font-family: Montserrat, sans-serif;
    color: #083a53;
    font-size: 0.850em;
    line-height: 1.1em;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom: 1px solid #000;
}
#charlesbankFaq h4.panel-title a{
	padding:20px;
}
#charlesbankFaq h4.panel-title a small.down-icon {
    position: absolute;
    right: 3%;
    font-size: 1em;
    transform: rotateZ(0deg);
    transform-style: preserve-3d;
	transition: all 0.4s ease;
}
#charlesbankFaq h4.panel-title.activeTab a small.down-icon {
    transform: rotateZ(180deg) !important;
    transform-style: preserve-3d !important;
}
.b2b-products-list .product-img img {
    height: auto;
    max-height: 250px;
}
.b2b-product-view-details .product-images .image-view {
    text-align: center;
}
.slider-container {
    margin-bottom: 20px;
}
body#User .home-slider, body.SuccessfullOrder .home-slider {
    min-height: auto !important;
}
.b2b-category-list .page-title{
font-size: 32px;
}
.login-container .b2b-form {
    margin-top: 1.5rem !important;
    margin-bottom: 0 !important;
}
.login-container .b2b-form .mb-4 {
    margin-bottom: 0.5rem !important;
}
@media only screen and (min-width: 992px) and (max-width: 4000px){	
body#Home, body#User, body.SuccessfulOrder {	
     padding-top: 80px !important;	
}}
.b2b-products-list {
    border: none;
}
.b2b-category-list .page-title, .b2b-category-list p {
    color: #083a53 !important;
}
.b2b-category-list .page-title {
    padding-bottom: 10px;
}
.b2b-category-list p {
    font-size: 15px;
}
